# local env & artifacts
.env
# dbt local state
dbt_taxi/target/
dbt_taxi/logs/
dbt_taxi/.user.yml
dbt_taxi/profiles.yml
# avoid committing Databricks ipynb snapshots inside deployment folder
adf-dbx-delta/notebooks/*.ipynb
.venv/
